<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Haskell Playground</title>
<style>
html, body {
	margin: 0;
	padding: 0;
}
#main {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: max-content 1fr;
	grid-gap: 1px;
	width: 100vw;
	height: 100vh;
}
#header {
	grid-column: 1 / 3;
	grid-row: 1;
	padding: 5px;
	display: flex;
	flex-direction: row;
}
#title {
	font-size: 30px;
	align-self: center;
}
#toolbar {
	margin-left: 20px;
	align-self: center;
	display: flex;
	flex-direction: row;
	height: 100%;
}
#toolbar input[type="button"] {
	margin: 0 5px;
}
#toolbar #btn-openaspaste {
	margin-top: auto;
	margin-bottom: auto;
}
#ghcversionselect {
	margin-left: 5px;
}
#leftcol {
	grid-column: 1;
	grid-row: 2;
	overflow-y: auto;
}
#rightcol {
	grid-column: 2;
	grid-row: 2;
	padding: 5px;
	background-color: #eee;
	overflow-y: auto;
	font-size: large;
}
#rightcol pre {
	background-color: #fafafa;
	white-space: pre-wrap;
	word-break: break-word;  /* deprecated, but replacement not supported in safari? */
}

#rightcol:not(.loading) div#output-spinner {
	display: none;
}

#rightcol.loading div#output-pane {
	display: none;
}

#rightcol.loading div#rightcol {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.invisible {
	display: none !important;
}
.lds-roller {
  display: block;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cm-editor {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	font-size: large;
}
#exitcode {
	margin-bottom: 25px;
}
</style>
<script>
{{#preload}}
preload_script = {{&preload}};
{{/preload}}
{{^preload}}
preload_script = null;
{{/preload}}
</script>
<script type="module" src="/bundle.js"></script>
</head>
<body>
<div id="main">
	<div id="header">
		<div id="title">Haskell playground</div>
		<div id="toolbar">
			<input id="btn-run" type="button" class="button" value="Run">
			<input id="btn-core" type="button" class="button" value="Core">
			<input id="btn-asm" type="button" class="button" value="Asm">
			<select id="ghcversionselect"></select>
			<select id="optselect"></select>
			<input id="btn-openaspaste" type="button" style="margin-left: 50px" value="Create paste from this">
		</div>
	</div id="header">
	<div id="leftcol"></div>
	<div id="rightcol">
		<div id="output-spinner" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
		<div id="output-pane">
			<div id="exitcode-note" class="invisible"></div>
			<div style="border-bottom: 1px #ccc solid">Errors</div>
			<pre id="out-stderr"></pre>
			<div style="border-bottom: 1px #ccc solid">Output</div>
			<pre id="out-stdout"></pre>
		</div>
	</div>
</div>
</body>
