<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="https://yolc.dev/yolc-logo-256x256.png">
<title>Yolc Playground</title>
<style>
html, body {
	margin: 0;
	padding: 0;
}
#main {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: [left-start] 1fr [left-end] 4px [right-start] 1fr [right-end];
	grid-template-rows: [header-top] max-content [header-bottom left-top right-top] 1fr [left-bottom right-bottom];
	grid-gap: 1px;
	width: 100vw;
	height: 100vh;
}
@media (prefers-color-scheme: dark) {
	#main {
		background-color: #444;
	}
}
@media screen and (max-width: 800px) {
	#main {
		grid-template-columns: [left-start right-start] 1fr [left-end right-end];
		grid-template-rows: [header-top] max-content [header-bottom left-top] 1fr [left-bottom right-top] 1fr [right-bottom];
	}
	#colseparator {
		display: none;
	}
}
#header {
	grid-column: left-start / right-end;
	grid-row: 1;
	padding: 5px;
	display: flex;
	flex-direction: row;
	background-color: #3e3a3f;
	color: #e8e8e8;
	overflow-x: auto;
}

#header a {
	color: #bbf;
}

#title {
	align-self: center;
	height: 31px;
}
#toolbar {
	margin-left: 20px;
	align-self: center;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}
#toolbar select {
	margin-left: 5px;
	border: 1px #eee solid;
	border-radius: 4px;
}
#toolbar button {
	background-color: #ccc;
	margin: 0 2px;
}
#toolbar #btn-run {
	background-color: #e6e0e0;
	margin-right: 8px;
}
#toolbar #btn-save {
	margin-top: auto;
	margin-bottom: auto;
	font-size: small;
	background-color: #bbb;
	margin-left: 50px;
}
#toolbar-mid-spacer {
	flex-grow: 1;
	min-width: 30px;
}
#paste-metadata {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 30px;
	font-size: smaller;
	font-style: italic;
	white-space: nowrap;
	color: #ccc;
}
#paste-raw {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
	color: #ccc;
}
.toolbar-link {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20px;
	font-style: italic;
	font-size: smaller;
	white-space: nowrap;
}
@media (prefers-color-scheme: dark) {
	#toolbar button {
		background-color: #aaa;
	}
	#toolbar #btn-run {
		background-color: #cbb;
	}
	#toolbar select {
		background-color: #242522;
		color: white;
		border: 1px #888 solid;
	}
	#toolbar #btn-save {
		background-color: #999;
	}
	#header a, #rightcol a {
		color: #bbf;
	}
}
@media screen and (max-width: 800px) {
	#ghcversionselect {
		width: 65px;
	}
}

#leftcol {
	grid-column: left-start / left-end;
	grid-row: left-top / left-bottom;
	overflow-y: auto;
}
#colseparator {
	grid-column: left-end / right-start;
	grid-row: 2;
	background-color: #ddd;
	cursor: col-resize;
}
#rightcol {
	grid-column: right-start / right-end;
	grid-row: right-top / right-bottom;
	padding: 5px;
	background-color: #eee;
	overflow-y: auto;
}
@media (prefers-color-scheme: dark) {
	#colseparator {
		background-color: #555;
	}
	#rightcol {
		background-color: #222;
		color: #ddd;
	}
}
#exitcode-note {
	margin-bottom: 9px;
}
#rightcol .output-header {
	font-variant: small-caps;
	display: flex;
}
#rightcol .output-header:before, #rightcol .output-header:after {
	border-top: 1px #ccc solid;
	content: "";
	flex: 1 1 auto;
	margin: auto 0;
}
#rightcol .output-header:before {
	margin-right: 15px;
}
#rightcol .output-header:after {
	margin-left: 15px;
}
#rightcol pre {
	background-color: #fafafa;
	white-space: pre-wrap;
	word-break: break-word;  /* deprecated, but replacement not supported in safari? */
	margin: 5px 0 20px 0;
}
@media (prefers-color-scheme: dark) {
	#rightcol pre {
		background-color: #333;
	}
}

#output-overlay {
	grid-column: right-start / right-end;
	grid-row: right-top / right-bottom;
	background-color: rgba(238, 238, 238, 0.5);
}
@media (prefers-color-scheme: dark) {
	#output-overlay {
		background-color: rgba(51, 51, 51, 0.5);
	}
}

#editor-overlay {
	grid-column: left-start / left-end;
	grid-row: left-top / left-bottom;
	z-index: 1;
	text-align: right;
	padding: 5px;
	pointer-events: none;
}
#editor-overlay button {
	opacity: 0.8;
	pointer-events: auto;
}
@media (prefers-color-scheme: dark) {
	#editor-overlay button {
		background-color: #aaa;
	}
}
#btn-basic-template.fadeout {
	opacity: 0;
	transition: opacity 1.5s;
}

#main:not(.loading) div#output-overlay, #main:not(.loading) div.lds-roller {
	display: none;
}

.invisible {
	display: none !important;
}
.hidden {
	display: hidden;
}

.lds-roller {
  grid-column: right-start / right-end;
  grid-row: right-top / right-bottom;
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
  margin: -4px 0 0 -4px;
}
@media (prefers-color-scheme: dark) {
	.lds-roller div:after {
		background-color: #eee;
	}
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#exitcode {
  margin-bottom: 25px;
}
#exitcode-note.initial:after {
  content: "Click the Run button to execute the code on the left.";
}
@media screen and (max-width: 800px) {
  #exitcode-note.initial:after {
    content: "Click the Run button to execute the code above.";
  }
}

dialog {
	border-radius: 4px;
	transform: translateY(-30vh);
	/*
	z-index:10;
	top: 80px;
	*/
}

#save-link-slot {
	border-style: solid;
	border-width: thin;
	border-radius: 4px;
	padding-right: 4px;
}
#btn-close-save-alert {
	margin-top: 20px;
}
#save-alert-note {
	margin-top: 20px;
	display: none;
}
#save-alert.no-clipboard-support #save-alert-note {
	display: block;
}
#save-alert.no-clipboard-support #btn-copy-link {
	display: none;
}

#help-alert {
	max-width: 900px;
	position: fixed;
	top: auto;
}
#help-alert li {
	line-height: 1.6em;
}
#help-alert code {
	background-color: #eee;
	border-radius: 2px;
	padding: 1px 2px;
}

.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

button.success {
	background-color: #0d0;
}
button.success:after {
	content: " ✔";
}

kbd {
	background-color: #eee;
	border-radius: 6px;
	box-shadow: #aaa 0px 2px;
	padding: 1px 3px;
	font-size: smaller;
	font-family: monospace;
}
</style>
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<script>
preload_script = {{&preload}};
</script>
</head>
<body>
<div id="main">
	<dialog id="save-alert">
		<p>Saved! You can share or revisit your program with this link: </p>
		<div>
			<span id="save-link-slot"></span>
			<button id="btn-copy-link" class="pure-button">Copy Link</button>
		</div>

		<div id="save-alert-note">
			The URL bar of your browser has also been updated to this link.
		</div>

		<div class="flex-row-reverse">
			<button id="btn-close-save-alert" class="pure-button">Ok</button>
		</div>
	</dialog>

	<dialog id="help-alert">
		<p>Toolbar controls:</p>
		<ul>
			<li><b>Run</b>: Compile and execute your program. It must have a <code>main</code> function for this to work.</li>
			<li><b>Core</b>: Show GHC's intermediate representation for your module. To avoid having to define <code>main</code>, put e.g. <code>module M where</code> before the first <code>import</code>.</li>
			<li><b>Asm</b>: Show compiled x86_64 assembly.</li>
		</ul>

		<p>Drop-down menus:</p>
		<ul>
			<li>GHC version selection.</li>
			<li>Optimisation flags: a higher number means more optimisations. <code>-O2</code> is rarely helpful.</li>
		</ul>

		<p>Tips and tricks:</p>
		<ul>
			<li><kbd class="ui-ctrl-cmd">Ctrl</kbd>+<kbd>Enter</kbd> re-runs your code using the most recent configuration.</li>
			<li>
				For keyboard shortcuts in the editor (<a href="https://ace.c9.io/" target="_blank">Ace</a>), see <a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts" target="_blank">this list</a>.
				Some highlights:
				<ul>
					<li><kbd class="ui-ctrl-cmd">Ctrl</kbd>+<kbd>/</kbd>: Comment-out a line of code.</li>
					<li><kbd class="ui-ctrl-cmd">Ctrl</kbd>+<kbd>,</kbd>: Open a settings panel.</li>
				</ul>
			</li>
		</ul>

		<div class="flex-row-reverse">
			<button id="btn-close-help-alert" class="pure-button">Close</button>
		</div>
	</dialog>

	<div id="header">
		<img id="title" src="https://yolc.dev/yolc-logo-256x256.png">
		<div id="toolbar">
			<button id="btn-yolc" class="pure-button">Generate Solidity/Yul</button>
			<!-- <button id="btn-run" class="pure-button">Run</button>
			<button id="btn-core" class="pure-button">Core</button>
			<button id="btn-asm" class="pure-button">Asm</button> -->
			<select id="ghcversionselect"></select>
			<select id="optselect"></select>
			<button id="btn-save" class="pure-button">Save &amp; share code</button>
			{{#pastedate}}
			<span id="paste-metadata">
				Snippet saved on:<br>
				<span id="paste-save-time"><script>document.write(new Date({{pastedate}} * 1000).toLocaleString());</script></span>
				<noscript>{{pastedate-utc}}</noscript>
			</span>
			{{/pastedate}}
			{{#pastekey}}
			<span id="paste-raw">(<a id="paste-raw-link" href="/saved/{{pastekey}}/raw">raw</a>)</span>
			{{/pastekey}}
			<span id="toolbar-mid-spacer"></span>
			<span class="toolbar-link"><a href="javascript:doShowHelpDialog()">Help</a></span>
			<span class="toolbar-link">Open source: <a href="https://github.com/haskell/play-haskell" target="_blank">GitHub</a></span>
		</div>
	</div id="header">
	<div id="leftcol"></div>
	<div id="colseparator"></div>
	<div id="rightcol">
		<div id="output-pane">
			<div id="exitcode-note" class="initial"></div>
			<div id="out-container-ghcout" class="invisible">
				<div class="output-header">GHC output</div>
				<pre id="out-ghcout"></pre>
			</div>
			<div id="out-container-stderr" class="invisible">
				<div class="output-header">Errors</div>
				<pre id="out-stderr"></pre>
			</div>
			<div id="out-container-stdout" class="invisible">
				<div class="output-header">Output</div>
				<pre id="out-stdout"></pre>
			</div>
		</div>
	</div>
	<div id="output-overlay"></div>
	<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	<div id="editor-overlay">
		<button id="btn-basic-template" class="pure-button">Basic template</button>
	</div>
</div>
<script src="/ace-files/ace.js"></script>
<script src="/play-index.js"></script>
</body>
</html>
