<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Paste: {{key}}</title>
<style>
html {
	position: relative;
	min-height: 100%;
}

body {
	padding-bottom: 90px;
}

header, footer {
	background-color: #3e3a3f;
	color: #e8e8e8;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #ddd;
		background-color: #121212;
	}

	header, footer {
		color: #ddd;
	}

	/* Headings are bold and large; make less flashy-white to compensate. */
	h1, h2, h3 {
		color: #ccc;
	}
}

header a, footer a {
	color: #bbf;
}

@media (prefers-color-scheme: dark) {
	a {
		color: #bbf;
	}
}

header {
	padding: 20px 40px 20px 25px;
	font-size: 14pt;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer > div {
	font-size: 9pt;
	padding: 20px;
}

#main {
	max-width: 1000px;
	margin: 0 auto 30px auto;
}

.invisible {
	display: none;
}

/* --- */

.filename-header {
	padding-top: 0.3em;
	padding-bottom: 0.15em;
}

.filename-link {
	font-size: 1.17em;
	font-weight: bold;
}

pre.listing, code.listing.codeblock {
	font-size: 12px;
	line-height: 1.25;
}

pre.plain {
	background-color: #f0f0f0;
	padding: 0.5em;
}

@media (prefers-color-scheme: dark) {
	pre.plain {
		background-color: #1d1f21;
	}
}

.lnumtable {
	border-collapse: collapse;

	/* Let code blocks scroll horizontally */
	display: inline-block;
	max-width: 100%;
	overflow-x: auto;
}

.lnumtable td {
	margin: 0;
	padding: 0;
}

td.lnums {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

td.lnums > pre {
	text-align: right;
	color: #aaa;
	padding-left: 10px;
	padding-right: 15px;
}

@media (prefers-color-scheme: dark) {
	td.lnums > pre {
		color: #999;
	}
}

.parentline {
	font-size: small;
	font-style: italic;
	margin-bottom: 1em;
}

#expirenote {
	font-style: italic;
}
</style>
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<link rel="stylesheet" href="/highlight.pack.css" defer>
<script src="/highlight.pack.js" defer></script>
<script>
var wantHighlighting = true, wantLineNumbers = true;
var loaded = false;

if ("localStorage" in window) {
	// Only disable if option is explicitly "0" (i.e. default is enabled)
	wantHighlighting = localStorage.getItem("highlighting") != "0";
	wantLineNumbers = localStorage.getItem("linenumbers") != "0";
}

function doToggleHighlighting() {
	wantHighlighting = !wantHighlighting;
	if (loaded) applyHighlighting(wantHighlighting);
}

function applyHighlighting(yes) {
	if ("localStorage" in window) {
		localStorage.setItem("highlighting", yes ? "1" : "0");
	}

	if (yes) {
		var elems = document.getElementsByClassName("codeblock");
		for (var i = 0; i < elems.length; i++) {
			hljs.highlightBlock(elems[i]);
			elems[i].parentNode.classList.remove("plain");
		}
	} else {
		location.href = location.href;
	}
}

function doToggleLineNumbers() {
	wantLineNumbers = !wantLineNumbers;
	if (loaded) applyLineNumbers(wantLineNumbers);
}

function applyLineNumbers(yes) {
	if ("localStorage" in window) {
		localStorage.setItem("linenumbers", yes ? "1" : "0");
	}

	var elems = document.querySelectorAll("td.lnums");
	for (var i = 0; i < elems.length; i++) {
		if (yes) elems[i].classList.remove("invisible");
		else elems[i].classList.add("invisible");
	}
}

function applyDarkScheme(yes) {
	if (yes) {
		document.body.classList.remove("clrl");
		document.body.classList.add("clrd");
	} else {
		document.body.classList.remove("clrd");
		document.body.classList.add("clrl");
	}
}

document.addEventListener("DOMContentLoaded", () => {
	loaded = true;
	if (wantHighlighting) applyHighlighting(true);
	if (!wantLineNumbers) applyLineNumbers(false);

	if ("matchMedia" in window) {
		var media = window.matchMedia("(prefers-color-scheme: dark)");
		applyDarkScheme(media.matches);
		media.addEventListener("change", function(ev) { applyDarkScheme(ev.matches); });
	}
});
</script>
</head>
<body>
<header id="topbar">
	<b>Paste for <a href="https://wiki.haskell.org/IRC_channel"><code>#haskell</code></a></b>
	<div style="float: right">
		<small><i>Open source: <a href="https://github.com/tomsmeding/pastebin-haskell">github</a></i></small>
	</div>
</header>

<div id="main">
	<div style="float: right; font-size: small">
		[toggle
		<a href="javascript:doToggleHighlighting()">highlighting</a>,
		<a href="javascript:doToggleLineNumbers()">numbers</a>]
	</div>

	<h3>This is paste <code>{{key}}</code>{{#date}} (pasted at <span id="date">{{date}}</span>){{/date}}</h3>
	{{#unixdate}}<script>
	document.getElementById("date").innerHTML = new Date({{unixdate}} * 1000).toLocaleString();
	</script>{{/unixdate}}
	{{#parent}}<div class="parentline">
		(Edited from: <a href="/{{&parentAttr}}"><code>{{parent}}</code></a>)
	</div>{{/parent}}

	{{#pastes}}
	<div class="pure-g filename-header">
		<div class="pure-u-1-2">
			<a id="file-{{index}}" href="#file-{{index}}" class="filename-link" role="heading" aria-level="2">{{#fname}}<code>{{fname}}</code>{{/fname}}{{^fname}}#{{/fname}}</a>
		</div>
		<div class="pure-u-1-2" style="text-align: right">
			[<a href="/{{key}}/raw/{{index}}">raw</a>]
		</div>
	</div>
	<table class="lnumtable"><tbody><tr>
		<td class="lnums"><pre class="plain listing">{{linenums}}</pre></td>
		<td><pre class="plain listing"><code class="listing codeblock haskell">{{contents}}</code></pre></td>
	</tr></tbody></table>
	{{/pastes}}

	<br>
	<div class="pure-g">
		<div class="pure-u-1-2">
			<a href="/{{key}}/edit">Clone and edit this paste</a>
			<a href="/" style="margin-left: 50px">Make a new paste</a>
		</div>
		<div class="pure-u-1-2" style="text-align: right">
			<a href="/{{key}}/download">Download paste</a>
		</div>
	</div>

	{{#expirenote}}
	<br>
	<div id="expirenote">{{expirenote}}</div>
	{{/expirenote}}
</div>

<footer>
	<div>
		This is user-uploaded content, not endorsed by the owner of this website.
	</div>
</footer>
</body>
</html>
